body {
  background-color: #F6F1F1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

/* NavBar */
.navbar {
  text-transform: uppercase;
  color: #FFF;
  background-color: #146C94;
  border-bottom: 1px solid #E7E7E7;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;

  /* resisable navbar */
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* logoContainer */
.logoContainer {
  width: 20%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* logo */
.logo {
  width: 25%;
  height: auto;
}

/* title */
.title {
  font-size: 1.5em;
  font-weight: bold;
}

.navMenu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.form {
  padding: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form .input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form .input:focus {
  border: 3px solid #E7E7E7;
}

.form .select {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
